body, .content-header {
  background: #333 !important;
  color: limegreen !important;
}
body header,
body .layout-container {
  text-shadow: 0 0 5px;
}
.width-50 {
  width: 50%;
  float: left;
}
.red {
   animation-duration: 700ms;
   animation-name: blink;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   color: red;
}
@keyframes blink {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
 }
