{{ attach_library('dashboard/dashboard.lib') }}
<p>These charts are realtime, means no need to refresh page. They get updated data every 5 seconds.</p>
<div class="width-50">
    <div id="nodes-chart"></div>
</div>
<div class="width-50">
    <div id="users-chart"></div>
</div>
